/*@define-color bg    #151515;
@define-color red   #b46958;
@define-color blue  #BAD7FF;
@define-color text  #E1E1E1;
*/
/* @define-color bg    #111111; */
/* #@define-color red   #b46958; */
/* #@define-color blue  #a5cafe; */
/* #@define-color text  #e6e6e6; */
/* #@define-color yellow #fed9a5; */

@define-color bg     #000000;
@define-color blue   #89b4fa;
@define-color text   #cdd6f4;
@define-color red    #f38ba8;
@define-color yellow #f9e2af;
@define-color green  #91E788;

* {
        font-family: JetBrainsMono Nerd Font;
        font-size: 12px;
        padding: 0 0px;
        margin: -1px;
        opacity: 1;
}

    window#waybar {
        background-color: @bg;
        color: @text;
        border-radius: 0;
        transition-duration: .5s;
    }

    window#waybar.hidden {
        opacity: 0.2;
    }


    window#hyprland-window{
        background-color: @text;
    }

    #workspaces,
    #window,
    #custom-net,
    #custom-packages,
    #custom-battery,
    #custom-separator,
    #cpu,
    #pulseaudio,
    #custom-ip,
    #custom-date,
    #window,
    #custom-pacman,
    #custom-time,
    #tray {
        background-color: @bg;
        padding: 0 2px;
        margin: 0 0px;

}
    #workspaces {
        padding: 3 0px;
    }

    #workspaces button {
        padding: 0 6px;
        color: @text;
    }

    #workspaces button.active {
        color: @blue;
    }

    #workspaces button.urgent {
        color: @red;
    }

    #custom-net {
        padding: 0 2px;
        color: @text;
    }

    #custom-separator {
        padding: 0 5px;
        color: @blue;
    }

    #custom-packages {
        padding: 0 2;
        color: @text;
    }

    #battery {
        padding: 0 10px;
        color: @text;
    }

    #cpu {
        padding: 0 2px;
        color: @text;
    }

    #custom-temp {
        padding: 0 5px;
        color: @text;
    }

    #window {
        padding: 0 2px;
        color: @text;
    }

    #pulseaudio {
        padding: 0 2;
        color: @text;
    }

    #custom-ip {
        padding: 0 2;
        color: @text;
    }

    #custom-date {
        padding: 0 2;
        color: @text;
    }

    #custom-time {
        padding: 0 0;
        color: @text;
    }

    #clock {
        padding: 0 0;
        color: @text;
    }

